@model KisiselWebSitesi.Models.Model.Hakkimizda
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<div class="container">
    <div class="col-md-12">
        <h4>Gizem Öztaş Web Sitesi Hakkında</h4>
        <img src="~/Content/SiteLayout/img/slides/3.jpg" alt="" class="align-center img-box img-responsive" />
        <p>
            @Html.Raw(Model.Aciklama)
        </p>
    </div>
</div>

